* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

a {
  text-decoration: none; 
  }
  
a:hover {
  text-decoration: underline; 
  }

html,
  body {
  height: 100%;
  width: 100%; 
  font-size: 14px;
  font-family: 'Roboto', arial, sans-serif; 
  color: #545454; 
  }

.containers { 
  position: relative; 
  margin: 40px 0;
  } 

h1,
  h2 {
  font-size: 20px;
  font-weight: 400;
  }
  
h1 {
  color: #222222;
  }

h2 {
  color: #1A0DAB;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #006621
  }
  
h4 {
  color: #70757A;
  font-weight: 300;
}
 
ol {
  list-style-position: inside ;
  }
  
/*Top Menu*/
header {
  width: 100%;
  height: 120px; 
  margin-bottom: -35px; 
  display: flex;
  flex-direction: row; 
  border-bottom: 1px solid #ebebeb; 
}

#logo-container {
  height: 100%;
  width: 6%;
  }

#logo-container img {
  padding: 20% 5% 0 5%;
  }

#menu-container {
  height: 100%;
  width: 87%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#search-container {
  height: 43%;
  width: 43%;
  position: absolute;
  top: 15px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.search-box-wrap {
  display: inline-flex; 
  height: 88%;
  width: 98%; 
  border: 1px solid #dfe1e5; 
  border-radius: 40px;  
  overflow: hidden; 
  align-items: center; 
}

.search-box-wrap:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-box-input {
  height: 100%;
  width: 90%; 
  border: none;
}

  /*added to remove blue border when clicked in search box*/
textarea:focus, input:focus{
    outline: none;
}

.search-box-mic {
  background: none; 
  border: none; 
  padding: 1%; 

}

.search-glass {
  font-size: 19px; 
  color: rgba(0, 0, 0, 0.5);
  padding: 1%;  
}

#option-container {
  height: 43%;
  width: 43%;
  position: absolute;
  bottom: 0; 
  display: flex;
  flex-direction: row;  
  }

#options {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;  
}

.option {
  width: 16.7%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  }

.option button {
  display: inherit; 
  justify-content: center;
  width: 100%;
  background: none;
  border: none; 
  font-size: 13px;
  color: #70757A;
}

.option button:hover {
  color: blue; 
  cursor: pointer; 
  }  
  
.option button:active {
  border-bottom: 3px solid blue;
  }

.option button i {
  font-size: 16px; 
  padding-right: 5px; 
  color: #70757A
  }

.option button i:active {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
  }

#settings {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  }

#settings a {
  color: #70757A;
  padding: 0 10px; 
  }

#user-container {
  height: 100%;
  width: 7%;
  display: inherit;
  align-items: center; 
  justify-content: center;
  }

#user-container button {
  border: none;
  background: none; 
  height: 30%; 
  width: 25%; 
  border-radius: 100%;
  color: #70757A;
  margin: 2%;  
  cursor: pointer; 
  }

#user-container button:hover {
  background: #ebebeb;
  }

#user {
  font-size: 40px; 
  }

#app {
  font-size: 20px;
  }

/*Main*/
main {
  height: auto;
  width:35%;
  left: 7%;
  }

#statistics {
  width: 100%; 
  padding-top: 16px; 
  padding-left: 4%; 
  }
  
.featured {
  border: 1px solid #dfe1e5;
  border-radius: 9px;
  width: 100%;
  height: auto;
  padding: 20px 16px 10px 16px; 
  margin-top: -1px; 
  }

.featured ol {
  line-height: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em; 
  }
  
#wordpress {
  font-size: 16px;
  font-weight: 900;
  }

.snips {
  font-size: 12px;
  font-weight: 300; 
  color: #70757A;
}

.help {
  width: 45%;
  height: auto; 
  position: relative;
  left: 55%;
  bottom: -37px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}  

/*class was not specific enough to override defaults*/
#snips-icons {
  font-size: 16px;
  color: #9e9e9e;
  padding-right: 5px;
  }

.results {
  width: 90%;
  height: auto;
  padding: 0 15px; 
  }

.webresult {
  padding: 30px 5px;
  margin-top: -30px;
  margin-bottom: -30px; 
  }

#videos-container {
  height: auto;
  width: 100%;
}
#videos {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  height: 300px;
  }

.video {
  border: 1px solid #dfe1e5;
  border-radius: 9px;  
  width: 31.7%; 
  overflow: hidden;
}

.text {
  padding: 4px 16px;
  }

.text h2 {
  color: black;
  }
  
.text h2 a {
  font-size: 16px; 
  }

.site {
  font-size: 12px;
  }

.also-asked {
  width: 100%;
  height: auto;
  border: 1px solid #dfe1e5;
  border-radius: 9px; 
}

.also-asked h1 {
  width: 100%;
  height: 50px;
  padding: 9px 16px;
  }
  
.collapsible {
  width: 100%;
  height: 44px;
  padding: 9px 40px 9px 16px; 
  background-color: white;
  border: none; 
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  cursor: pointer;
  text-align: left; 
  font-size: 16px;
  }
 
 .collapsible:after {
  content: '\2B9D';
  color: #dfe1e5;
  font-weight: bold;
  float: right;
  margin-left: 5px; 
  }
  
.active:after {
  content: '\2B9F';
  }
  
button:focus {
  outline: none;
  }

.list {
  padding: 32px 16px 20px; 
}

.list li {
  margin: 0 0 4px 16px; 
}

.content {
  display: none;
  overflow: hidden;
  padding: 0 16px;
/* need more content to see the transition
  max-height: auto;
  transition: max-height 0.2s ease-out;
*/
  }

#related {
  margin-left: 2%;
}

#related ul{
  list-style-type: none;
  line-height: 2em;
  padding-top: 16px; 
}

/*Footer*/
footer {
  background: red;
  position: absolute; 
  bottom: 0;
  }

