* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

a {
  text-decoration: none; 
  }
  
a:hover {
  text-decoration: underline; 
  }

html,
  body {
  height: 100%;
  width: 100%; 
  font-size: 14px;
  font-family: 'Roboto', arial, sans-serif; 
  color: #545454; 
  }

.containers { 
  position: relative; 
  } 

h1,
  h2 {
  font-size: 20px;
  font-weight: 400;
  }
  
h1 {
  color: #222222;
  }

h2 {
  color: #1A0DAB;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #006621
  }
  
h4 {
  color: #70757A;
  font-weight: 300;
}

ol {
  list-style-position: inside ;
  }
  
/*Top Menu*/
header {
  display: flex;
  background: red; 
  height: 13.5%;
  width: 100%;
  }
  
  /*Logo*/
#logo {
  background: blue;
  height: 100%;
  width: 7%;
  }

#logo img {
  height: 5%;
  width: 5%; 
  }

  /*Search*/
#search-container {
  background: yellow; 
  height: 40%;
  width: 34%;
  top: 15%;
  }

#search-wrap {
  
}

  /*Navigation*/
#nav-container {
  background: purple;
  height: 40%;
  width: 34%;
  position: absolute;
  bottom: 0;
  left: 7%;
  }
  
  /*User menu*/
#user-container {
  background: orange;
  height: 100%;
  width: 7%;
  position: absolute;
  right: 0;
  }

/*Main*/
main {
  background: blue;
  height: 100%;
  width:35%;
  left: 7%;
  }

#statistics {
  background: yellow; 
  width: 100%; 
  padding-top: 2%; 
  padding-left: 4%; 
  }
  
.featured {
  background: blue;
  border: 1px solid black;
  border-radius: 9px;
  width: 100%;
  height: auto;
  padding: 20px 16px 10px 16px; 
  }

.featured ol {
  line-height: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em; 
  }
  
#wordpress {
  font-size: 16px;
  font-weight: 900;
  }

.snips {
  font-size: 12px;
  font-weight: 300; 
  color: #70757A;
}

.help {
  width: 45%;
  height: auto; 
  position: relative;
  left: 55%;
  bottom: -37px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}  

/*class was not specific enough to override defaults*/
#snips-icons {
  font-size: 16px;
  color: #9e9e9e;
  padding-right: 5px;
  }

.results {
  background: white; 
  width: 90%;
  height: auto;
  margin: 50px 0 0 15px; 
  padding: 10px 0 0 0;
  }

.webresult {
  padding: 10px 0 10px 5px;
  }

/*Footer*/
footer {
  background: red;
  position: absolute; 
  bottom: 0;
  }

